.container {
    width: 350px;
    min-height: 400px;
    padding: 16px;
    background-color: #f9f9f9;
    border: 2px solid #000;
    position: relative;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    margin-bottom: 16px;
    background-color: #0066CC;
    color: white;
    padding: 12px;
    position: relative;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 2.3em;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

.status-bar {
    position: absolute;
    bottom: 8px;
    left: 9px;
    font-size: .7em;
    color: #0066CC;
    font-family: 'Lato', sans-serif;
}

.assignment-list {
    max-height: 300px;
    overflow-y: auto;
}

.assignment-item {
    padding: 12px;
    border: 1px solid #eee;
    margin-bottom: 8px;
    border-radius: 4px;
}

.assignment-item.high-priority {
    border-left: 4px solid #d92b2b;
}

.assignment-item.medium-priority {
    border-left: 4px solid #f0ad4e;
}

.assignment-item.low-priority {
    border-left: 4px solid #5cb85c;
}

.settings-button {
    bottom: 16px;
    right: 16px;
    position: absolute;
    text-align: center;
}

.settings-button button {
    background-color: #0066CC;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Lato', sans-serif;
}

.settings-button button:hover {
    background-color: #0066CC;
    font-family: 'Lato', sans-serif;
    transform: scale(1.08);
}

.logo img {
    width: 50px;
    height: auto;
    border-radius: 20%;
    border: 3px solid #FFFFFF;
    padding: 0;
}